:root {
    --rick: #9fcee9;
    --morty: rgb(252, 186, 3);
}

body {
    background-color: var(--rick);
}
.titleContainer {
    text-align: center;
    background-color: var(--morty);
    font-size: 20px;
    padding: 1rem;
}

/* User interface buttons */

#animeContainer {
    border: solid black 5px;
    border-spacing: 5px;
    display: table-cell;
    width: 50%;
    padding: 16px;
    text-align: center;
}
#randomAnimeQuote {
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}
#animeDetails {
    text-align: left;
}
#rickDetails {
    text-align: left;
}
#rickContainer {
    border: solid black 5px;
    display: table-cell;
    width: 50%;
    padding: 16px;
    text-align: center;
}
#gridy {
    width: 100%;
    display: table;
}
#table {
    display: table-row;
}

/* Animations */
#dolls {
    width: 500px;
    height: 400px;
    border-radius: 50%;
    animation:
    pulse 3s ease infinite alternate,
    nudge 5s linear infinite alternate;
}

@keyframes nudge {
    0%, 100% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(150px, 0);
    }
    80% {
        transform: translate(-150px, 0);
    }
}
